// Specific CSS for your home-page
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.name-category {
  display: flex;
  align-items: center;
}

