// Import page-specific CSS files here.
@import "home";
@import "new_event";
@import "dashboard";

.title {
  margin-left: 475px;
  margin-top: 30px;
}

.search {
  width: 507px;
  margin-left: 501px;
  margin-top: 20px;
  margin-bottom: 20px;
}