// Import page-specific CSS files here.
@import "home";
@import "new_event";
@import "dashboard";

.title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: lighter;
}


.name-category {
  display: flex;
  align-items: center;
}

.search {
  width: 507px;
  margin-top: -30px;
  margin-bottom: 20px;
}

#rotate:hover {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#flip:hover {
  transform: scaleX(-1);
  width: 400;
  height: 400;
}

#vibrate:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

