.container .new_event{
  display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
  text-align: center;
	margin: 20px;
	border-radius: 4px;
}

.form-box {
	margin-top: 20px;
	font-weight: bold;
}

.next-step {
	margin: 10px;
	margin-left: 470px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

// alert style 
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}


