<div>
  <% if @event.photo.attached? %>
  <%= cl_image_tag @event.photo.key, crop: :fill, height: 140, width: 140, class: "avatar-event" %>
  <% else %>
    <img src="https://res.cloudinary.com/alandupre02/image/upload/c_fill,h_140,w_140/9lg2c2cmpc8fxhczh9fx9kyq16pg" alt="Assist'Asso default profil">
  <% end %>
</div>