
<div class="all-cards">
    <% @events.each do |event| %>
    <div class="card-trip">
      <img src="<%= event.cover_pic %>" /> 
      <div class="card-trip-infos">
        <div>
          <img src="https://i.pinimg.com/236x/f4/49/df/f449dfa7d6c221507c1962f2102d92b2--vector-photo-app-development.jpg" class="card-trip-user avatar-bordered" />
          <h2> <%= event.name %> </h2>
          <p> <%= event.description %> </p>
        </div>
        <div id="icone"> 
          <%= link_to event_path(event) do %>
          <p class="btn btn-success"> Discover the event</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

