
<div class="card-activity">
  <div class="inner">
     <%= cl_image_tag event.cover_img.key, class: "card-img-top" %>
   </div>
      <div class="card-body d-flex flex-column">
        <h4 class="card-title" style="text-align: center;"> <%= event.name %> </h4>
        <p><%= event.description %></p>
        <%= link_to "Explore", event_path(event), class: "all-button" %>
      </div>
</div>
