<div class="card-trip">
  <img src="https://www.lenouveleconomiste.fr/wp-content/uploads/2018/06/location-826x459.jpg" />
  <div class="card-trip-infos">
    <div>
      <img src="https://i.pinimg.com/236x/f4/49/df/f449dfa7d6c221507c1962f2102d92b2--vector-photo-app-development.jpg" class="card-trip-user avatar-bordered" />
      <h2>Recolte de Vêtements</h2>
      <p>Pour aider les personnes en difficulté nous faisons une récolte de vêtement ! </p>
    </div>
      <h2 class="card-trip-pricing">btn   btn   btn</h2>
  </div>
</div>