<div>
  <% if @event.cover_img.attached? %>
    <div class="banner-event" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@event.cover_img.key) %>);height: 200px; background-size: cover; background-position: center;">
      <div class="container d-flex" style="padding-top: 50px">
        <%= render 'shared/avatar' %>
        <div class="name-asso" style="padding-top: 100px; padding-left: 20px; color: white; font-size: 2.14286rem; font-weight: bold">
        <%= @event.name_asso %>
        </div>
    </div>
  <% end %>
</div>
