<div>
  <% if @event.cover_img.attached? %>
    <div class="banner-event" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 
  url(<%= cl_image_path(@event.cover_img.key) %>);">
  </div>
  <% else %>
    <p>il n'y a pas de couverture</p>
  <% end %>
</div>

