<div id="map"
     style="width: 50%; height: 600px;  height: 100vh; position: sticky; top: 0; margin-top: 20px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>