
  <h1 style="margin-left: 550px">MODIFY YOUR EVENT</h1>
  <img src="https://image.flaticon.com/icons/png/512/1828/1828270.png" style="max-width: 80px; margin-left: 700px">


<%= render "shared/event_form" %>