
  <h1 style="margin-left: 480px">CREATE YOUR OWN EVENT</h1>
  <img src="https://image.flaticon.com/icons/png/512/975/975392.png" style="max-width: 80px; margin-left: 700px">

<%= render "shared/event_form" %>

<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>YAY !</strong> YOU ARE READY TO CREATE YOUR FIRST EVENT ! 🎉 .</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>