<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.macsf.fr/var/macsf/storage/images/macsf.fr/reglementation-et-actualite/actualites-et-lois-de-sante/afem/590139-3-fre-FR/A-la-rencontre-de-l-AFEM-association-d-Aide-aux-familles-et-entraide-medicale.jpg);">
  <div class="container">
    <h1>Assist' Asso </h1>
    <p>Find an Event !</p>
    <%= link_to events_path do  %>
    <p class="btn btn-success" >Discover</p>
    <% end %>
  </div>
</div>


<div class="container card-home">
  <div class="card-category" style="background: green">
    Environnement
  </div>

  <div class="card-category" style="background: orange">
    Alimentaire
  </div>

  <div class="card-category" style="background: blue">
    Humanitaire
  </div>

  <div class="card-category" style="background: purple">
    Culturel
  </div>
</div>
