.card-activity {
  border-radius: 20px;
  margin-bottom: 24px;
  height: 380px;
}

.card-activity a {
  text-decoration: none;
}

.card-body {
  min-height: 16rem;
  padding: 0px;
}

.card-infos:hover {
  border: 1px solid rgba(80, 137, 145, 1);
}

//Cards_home_page

.card-title{
  color:#011028;
  font-size: 22px;
}

.card-skifind {
  color:#E19451;
  font-size: 56px;
  text-align: center;
}

.card-text{
  color:#02245C;
  font-size: 16px;
  margin-bottom: 105px;
  text-align: center;
}

.title h1 {
  color: white;
  font-size: 32px;
  text-shadow: #02245C 1px 1px 5px;
}

.card-img-top {
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-infos {
  padding: 20px;
  border: 1px solid rgba(80, 137, 145, 0.4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}