#eventProgress {
  width: 100%;
  background-color: white;
  border-color: #289672;
  border-radius: 50%;
}

#eventBar {
  width: 1%;
  height: 30px;
  background-color: #289672;
  border-radius: 50%;
}