.need {
  width: 750px;
  height: auto;
  border: 1px solid;
  border-color:#000000;
  border-radius: 50px;
  padding: 0px 30px;
  margin: 10px 10px;
}

.need-success {
  border-color: #289672;
}

.need-wip {
  border-color: #F6B214;
}

.need-empty {
  border-color: #B10505;
}